body {
  font-family: 'Comfortaa', sans-serif;
  background: #e6ce6a;
}
.container{
  width: 980px;
  margin: 0 auto;
  background: #202020;
  height: 1000px;
}

.notfound{
  background: url("../images/NotFound.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: contain;
  width: 100%;
  height: 80vh;
}
